/* ==================================
   # Centrale vindplaats
   ================================== */

/**
 * CONTENTS
 * ---
 * SETTINGS: Project settings and variables
 * TOOLS: Mixins
 * GENERIC: Reset, global box-sizing and font-styles
 * ELEMENTS: Plain html tag styling
 * OBJECTS: OOCSS unstyled objects (namespace: '.au-o-...')
 * COMPONENTS: Components (namespace: '.au-c-...')
 * PLUGINS: Third-party styles
 * UTILITIES: Single function helper classes (namespace: '.au-u-...')
 */

 // Import Gent styleguide
$styleguide-dir: '../assets' !default;
@import "sass/main_cli";

table {
    table-layout: fixed;
    width: 100%;
}

// Import shame (overrides and temporary CSS)
@import "shame";
