/* ==========================================================================
   #Generic styles
   CSS for generic subject pages.
   ========================================================================== */

@import "@appuniversum/ember-appuniversum/styles/a-settings";
@import "@appuniversum/ember-appuniversum/styles/a-tools";
@import "@appuniversum/ember-appuniversum/styles/a-generic";
@import "@appuniversum/ember-appuniversum/styles/a-elements";
@import "@appuniversum/ember-appuniversum/styles/a-objects";
@import "@appuniversum/ember-appuniversum/styles/a-components";
@import "@appuniversum/ember-appuniversum/styles/a-plugins";
@import "@appuniversum/ember-appuniversum/styles/a-utilities";

// Overwrite appuniversum defaults
html {
  font-size: 100%;
}

th {
  font-weight: bold;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

// Style appuniversum components
.au-o-layout {
  padding: 0 2.4rem;
  margin: 0;
  max-width: unset;
}

.au-o-layout,
.au-unzoom {
  // Simluate appuniversum's font size for its components
  zoom: 62.5%;
}

.au-c-list-horizontal {
  padding: 0;
}

.skos-resource-metadata {
  .au-c-list-horizontal {
    zoom: 85%;
  }
}
