{{log @model}}
<div class="site-name"><span>Verwerkingsregister</span></div>
<main id="main"><article class="detail-layout" data-v-3751eab8><h1 data-v-3751eab8>{{@model.title}}</h1> <div class="summary-box highlight highlight--top" data-v-3751eab8><div class="highlight__inner" data-v-3751eab8><h2 class="visually-hidden" data-v-3751eab8>
  samenvatting
</h2>
<dl data-v-3751eab8>
  <div data-v-3751eab8><dt data-v-3751eab8>Categorie</dt>
    <dd data-v-3751eab8>{{@model.type}}</dd>
  </div>
  <div data-v-3751eab8>
    <dt data-v-3751eab8>Verwerkende dienst</dt>
    <dd data-v-3751eab8>{{@model.verwerker}}</dd>
  </div>
  <div data-v-3751eab8>
    <dt data-v-3751eab8>Rechtmatigheid</dt>
    <dd data-v-3751eab8>Toestemming betrokkene</dd>
  </div>
</dl>
<div class="accolade" data-v-3751eab8></div></div></div> <h2 data-v-3751eab8>Beschrijving</h2> <p data-v-3751eab8>De kotbazen bieden studentenhuisvesting aan via de online kotenzoeker van de Stad Gent.</p> <h2 data-v-3751eab8>Gegevens</h2> <h3 data-v-3751eab8>
  Over wie?
</h3> <p data-v-3751eab8>
  Eigenaar-kotbaas
</p> <!----> <h3 data-v-3751eab8>Welke persoonsgegevens?</h3> <ul data-v-3751eab8><li data-v-3751eab8>
  A1: Persoonlijke identificatiegegevens
</li><li data-v-3751eab8>
  B. Contactgegevens
</li><li data-v-3751eab8>
  M. Woningkenmerken
</li></ul> <h3 data-v-3751eab8>Welke gevoelige persoonsgegevens?</h3> <p data-v-3751eab8>
  Er zijn geen gevoelige persoonsgegevens van toepassing.
</p> <h2 data-v-3751eab8>Rechtmatigheid</h2> <h3 data-v-3751eab8>Type</h3> <p data-v-3751eab8>Toestemming betrokkene</p> <h3 data-v-3751eab8>
  Verduidelijking
</h3> <p data-v-3751eab8>
  1) Samenwerkingsprotocol voor studentenhuisvesting Kotatgent (2014_GR_00757)
  2) Gebruiksvoorwaarden kotatgent (https://kot.stad.gent/nl/gebruiksvoorwaarden)
</p> <h2 data-v-3751eab8>
  Ontvangers
</h2> <ul data-v-3751eab8><li data-v-3751eab8>
  Brandweerzone Centrum
</li><li data-v-3751eab8>
  Dienst Toezicht Wonen
</li><li data-v-3751eab8>
  Bouwen en Milieu
</li><li data-v-3751eab8>
  FIN Belastingen Wonen+
</li></ul> <h2 data-v-3751eab8>Bewaartermijn</h2> <p data-v-3751eab8>Tot betrokkene zich uitschrijft</p></article></main> 
