{{#if this.hasMultiplePages}}
  <nav class="pager" aria-labelledby="pagination-heading">
    <h2 id="pagination-heading" class="visually-hidden">Pagination</h2>
    <ul>
      {{#unless this.isFirstPage}}
        <li class="previous">
          <a href="#" class="standalone-link back" {{on "click" this.previousPage}}>
            {{t "pagination.previous-page"}}
            <span class="visually-hidden">page</span>
          </a>
        </li>
      {{/unless}}

      {{#unless this.isLastPage}}
        <li class="next">
          <a href="#" class="standalone-link" {{on "click" this.nextPage}}>
            {{t "pagination.next-page"}}
            <span class="visually-hidden">page</span>
          </a>
        </li>
      {{/unless}}
    </ul>
  </nav>
{{/if}}
