<footer>
  <div class="footer section--default">
    <div class="content-container">
      <div class="footer__content">
        <div class="footer__links">
          <h3>Stad Gent</h3>
          <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy</a></li>
          </ul>
        </div>
        
        <div class="footer__links">
          <h3>Verwerkingsregister</h3>
          <ul>
            <li><a href="#">Over het register</a></li>
            <li><a href="#">Zoeken</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
      
      <div class="footer__bottom">
        <p>&copy; Stad Gent</p>
      </div>
    </div>
  </div>
</footer>