<header class="header">
  <div class="content-container">
    <a href="/" title="Home" class="site-logo" rel="home">
      Stad Gent
    </a>
    
    <a href='#' class="search--link" title="search">
      search 
    </a>
    
    <form class="form search">
      <label for="header-search">Search</label>
      <input type="search" 
             id="header-search" 
             name="header-search" 
             class="search" 
             placeholder="Search" 
             required="true" />
      <button type="submit" class="button">
        Search
      </button>
    </form>
  </div>
  
  <nav class="breadcrumb section--default" aria-labelledby="header-crumbs">
    <div class="content-container">
      <h2 id="header-crumbs" class="visually-hidden">Breadcrumb</h2>
      <ol class="no-style">
        <li><a href='/'>Home</a></li>
        <li><a href='/'>Verwerkingsregister</a></li>
        <li><span>Verwerkingsactiviteit</span></li>
      </ol>
    </div>
  </nav>
</header>