<AuModalContainer />

<div class="container">

{{#unless this.isEmbedded}}
<SiteHeader @title={{this.title}} />
{{/unless}}

<main class="info-page">
  <article class="detail-layout">{{outlet}}</article>
</main>

{{#unless this.isEmbedded}}
<SiteFooter />
{{/unless}}

</div>
